h1 {
    font-family: $font-family-secondary;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 1rem;
    font-family: $font-family-secondary;
    font-size: 1.75rem;
    font-weight: 500;
    letter-spacing: 1px;
}
