/* Default typographies variables */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Oswald:wght@400;500&display=swap');

$font-size-default: 16px;
$font-family-primary: "Roboto", Arial, sans-serif;
$font-family-secondary: "Oswald", Arial, sans-serif;

/* Default colors variables */
$color-primary: #333333;
$color-secondary: #ffffff;
$color-third: #777777;
$color-fourth: #c82e2b;
$color-fifth: #fa601b;
$color-sixth: #61473B;
$color-seventh: #3f3f3f;

/* Default border radius variables */
$border-radius-default: 0.5rem;
$border-radius-xs: 0.25rem;
